config/config.yml

# rcov generated
coverage

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

# For TextMate
*.tmproj
tmtags

# For emacs:
*~
\#*
.\#*

# For vim:
*.swp

# For redcar:
.redcar

# For rubinius:
*.rbc

# Titanium/Aptana Studio Project File
.project

# KDE dingleberries
.directory

# Mac OSX dingleberries
.DS_Store
.~lock.*

# Windows Dingleberries
Thumbs.db

